$small-min-width: 568px;
$medium-min-width: 768px;
$large-min-width: 1024px;
$extra-large-min-width: 1280px;

$h1-fontsize: 2.5rem !default;
$h2-fontsize: 2rem !default;
$h3-fontsize: 1.75rem !default;
$h4-fontsize: 1.5rem !default;
$h5-fontsize: 1.25rem !default;
$h6-fontsize: 1rem !default;

$column-width-is-full: 100%;
$column-width-is-three-quarters: 75%;
$column-width-is-two-thirds: 66.6666%;
$column-width-is-half: 50%;
$column-width-is-one-third: 33.3333%;
$column-width-is-one-quarter: 25%;
$column-width-is-one-fifth: 20%;

$primary-text-color: #212121;