.phpimenta-ui-field-wrapper {
  margin-bottom: 1rem;
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.phpimenta-ui-field {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  display: block;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  &:focus {
    outline: 0;
    border-color: #4d4d4d;
  }
}

.phpimenta-ui-button {
  padding: 0.375rem 0.75rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border: none transparent;
  cursor: pointer;
  line-height: 1.5;
  font-size: 1rem;
  display: inline-block;
  &.phpimenta-ui-small-button {
    padding: .25rem .5rem;
    font-size: .875rem;
  }
  &.phpimenta-ui-button-primary {
    background-color: #0078e7;
    color: #ffffff;
  }
  &.phpimenta-ui-button-secondary {
    background-color: #42b8dd;
    color: #ffffff;
  }
  &.phpimenta-ui-button-success {
    background: rgb(28, 184, 65);
    color: #ffffff;
  }
  &.phpimenta-ui-button-danger {
    background: #dc3545;
    color: #ffffff;
  }
  &.phpimenta-ui-button-warning {
    background: #ffc107;
    color: #000000;
  }
  &:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      color-stop(40%, rgba(0, 0, 0, 0.05)),
      to(rgba(0, 0, 0, 0.1))
      );
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  }
}

.phpimenta-ui-checkbox {
  position: relative;
  margin-bottom: 0.5rem;
  &.phpimenta-ui-checkbox-inline {
    display: inline-block;
    margin-right: 0.5rem;
  }
  label {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1.75rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:before {
      position: absolute;
      top: -0.25rem;
      left: 0rem;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      pointer-events: none;
      content: '';
      background-color: #fff;
      border: 1px solid #c8c8c8;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: .12rem;
      left: .35rem;
      width: 0.5rem;
      height: 0.5rem;
      background-color: transparent;
    }
  }
  input[type='checkbox'] {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
    &:checked + label::after {
      background-color: #0078e7;
    }
  }
}

.phpimenta-ui-radio {
  position: relative;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  &.phpimenta-ui-radio-inline {
    display: inline-block;
    margin-right: 0.5rem;
  }
  label {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1.5rem;
    &:before {
      position: absolute;
      top: -0.1rem;
      left: 0rem;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      pointer-events: none;
      content: '';
      background-color: #fff;
      border: 1px solid #c8c8c8;
      border-radius: 50%;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: .3rem;
      left: .35rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: transparent;
    }
  }
  input[type='radio'] {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
    &:checked + label::after {
      background-color: #0078e7;
    }
  }
}

.phpimenta-ui-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  .phpimenta-ui-field {
    min-width: 0;
    flex: 1 1 0%;
  }
  .input-group-text {
    padding: .375rem 0;
    line-height: 1.5;
  }
  .input-group-icon {
    position: absolute;
    top: 0.55rem;
    background-color: #fff;
    display: block;
  }
  &.left-icon {
    .input-group-icon {
      left: 0.5rem;
    }
    .phpimenta-ui-field {
      padding-left: 2rem;
    }
  }
  &.right-icon {
    .input-group-icon {
      right: 0.5rem;
    }
    .phpimenta-ui-field {
      padding-right: 2rem;
    }
  }
}

.phpimenta-ui-upload {
  position: relative;
  label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    white-space: nowrap;
    overflow: hidden;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: block;
      height: calc(1.5em + 0.75rem);
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      color: #495057;
      content: attr(data-upload-button-label);
      background-color: #e0e0e0;
      border-left: inherit;
    }
  }
  input[type='file'] {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
  }
}