.phpimenta-ui-pagination {
    display: flex;
    flex-wrap: wrap;
    .page-item {
        margin-bottom: 1rem;
        & + .page-item {
            margin-left: .25rem;
        }
        &.disabled {
            .page-link {
                pointer-events: none;
                color: #6c757d;
            }
        }
        .page-link {
            display: inline-block;
            border: 1px solid #c8c8c8;
            padding: .375rem .75rem;
            &:hover {
                background-color: #f2f2f2;
            }
        }
    }
}